body{
    margin: 0;
    padding:0;
    background: url('../img/bg.png') left top;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-family: 'Crete Round', serif;
    color: #a9a8a8
}

a{
    text-decoration: none;
}

#wrap{
    margin: 0 auto;
    width: 1071px;
    height: auto;
    background: url('../img/bg_wraper.png') left bottom;
}

.login{
    width: auto;
    height: 40px;
    float: right;
    margin: 45px 20px 0 0;
}

.login input{
    background: #58585a;
    border: none;
    padding-left: 10px;
    color: #a9a8a8;
}

.login input.one{
    width: 210px;
    margin-right: 20px;
}

.login .btn{
    background: #fdb000;
    color: #FFFFFF;
    font-weight: bold;
    height: 22px;
    width: 80px;
    border: none;
}

.login .forgot{
    float: right;
    margin-right: 83px;
    font-size: 10px;
    font-family: 'Crete Round', serif;
    font-style: italic;
    color: #a9a8a8;
}

.social{
    background: #231f20 url("../img/bg_social.png") left bottom no-repeat;
    width: 290px;
    float: right;
    margin: 30px -7px 0;
}

.social ul{
    width: 100%;
}

.social ul li{
    display: inline;
    list-style: none;
}

.social ul li a{
    margin: 5px 10px 0 0;
    float: left;
}

nav{
    background: url("../img/banner_index_with_border.png") left top;
    height: 197px;
    width: 1070px;
    margin-top: -2px;
}

.menu{
    float: right;
    margin:155px 0 22px 0
}

.menu li{
    display: inline;
    list-style: none;
}

.menu li a{
    color: #a9a8a8;
    font-family: 'Crete Round', serif;
    font-size: 16px;
    padding-right: 35px;
}

.body-section{
    width: 1046px;
    float: right;
    margin-top: -32px;
    margin-right: 1px;
    padding-top: -30px;
    background: #eeede9;
}
.body-section .title{
    margin-top: -37px;
    margin-bottom: -35px;
}
.body-section .title h1{
    padding: 18px 0 5px 33px;
    background: #eeede9;
    height: 62px;
    font-size: 44px;
    color: #231f20
}

.body-section .video{
    height: 392px;
}

.body-section .video{
    width: 704px;
    float: left;
}
.body-section .video video{
    width: 100%;
}
.body-section .video .player{
    z-index: 1;
    position: relative;
}
.body-section .video .description {
    width: 170px;
    height: 365px;
    position: absolute;
    top:0px;
    left: 30px;
    padding: 15px 16px;
    z-index:10000;
    background: #000000;
    opacity: 0.8 ;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.body-section .video .description .now{
    font-family: 'Crete Round', serif;
    font-size: 13.67px;
    color: #f9af19;
    margin-top: 15px;
}

.body-section .video .description h3{
    font-family: 'Crete Round', serif;
    font-size: 28.46px;
    color: #ffffff;
    margin-top: -10px;
}

.body-section .video .description p{
    font-family: 'Roboto', sans-serif;
    font-size: 11.23px;
    color: #ffffff;
    margin-top: -20px;
}

.body-section .itens{
    width: 342px;
    float: right;
}
.body-section .itens #contents{
    overflow: auto;
    height: 363px;
}
.body-section .itens .title{
    background: #fdb000;
    margin-top: -18px;
    margin-bottom: -16px;

}

.body-section .itens .title h3{
    font-size: 18px;
    color: #FFFFFF;
    padding: 5px 0 2px 16px;
}

.body-section .itens .content{
    background: #56534f;
    margin: -2px 0 5px 0;
    padding: 14px 0 13.5px 16px;
}

.body-section .itens .content.active {
    background: #231f20
}

.body-section .itens .content p,
.body-section .itens .content a{
    margin: 0;
}

.body-section .itens .content p.date{
    font-size: 12.48px;
}

.body-section .itens .content p.link a{
    font-size: 16.48px;
    color: #FFFFFF
}

.body-section .acervo{
    height: 128px;
}

.body-section .acervo .img-santostv{
    margin: 28px 28px 0 28px;
    float: left;
}

.body-section .acervo .img-hotsale{
    margin: 28px 28px 0 auto;
    float: right;
}

.body-section .recent-videos .title{
    background: #231f20;
    color: #f9af19;
    font-size: 23.47px;
    font-weight: normal !important;
    width: 100%;
    text-align: center;
    margin: 0 auto 10px auto !important;
}

.body-section .recent-videos .title p{
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.footer{
    width: 1048px;
    height: 275px;
    float: right;
    margin-top: 20px;
}

.clearfix{
    clear: both;
}

.jw-controlbar,
.jw-dock .jw-reset{display: none !important;}
.jw-display-icon-container .jw-background-color .jw-reset{
    background: #fdb000 !important;
}

#player_9e227e5407d6e44fdfd56c2c36b9dd0a .jw-button-color,
#player_9e227e5407d6e44fdfd56c2c36b9dd0a .jw-playlist-container .jw-icon {
    color: rgb(255, 255, 255)!important;
}

#player_9e227e5407d6e44fdfd56c2c36b9dd0a .jw-background-color,
#player_9e227e5407d6e44fdfd56c2c36b9dd0a .jw-tooltip-title,
#player_9e227e5407d6e44fdfd56c2c36b9dd0a .jw-playlist,
#player_9e227e5407d6e44fdfd56c2c36b9dd0a .jw-playlist-container .jw-option{
    border-radius: 50% !important;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 40px !important;
    -webkit-box-shadow: 5px 4px 12px -5px rgba(0,0,0,0.88);
    -moz-box-shadow: 5px 4px 12px -5px rgba(0,0,0,0.88);
    box-shadow: 5px 4px 12px -5px rgba(0,0,0,0.88);
    margin-top: -80px !important;
}

.jw-display-icon-container .jw-icon-display{
    font-size: 4.5em !important;
}